
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}
#folderTree {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 800px;
    background-color: #f9f9f9;
}

.folder, .file {
    margin-left: 20px;
    padding: 5px;
}

.folder::before, .file::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-size: cover;
}

.folder::before {
    background-image: url('box.png');
}

.file::before {
    background-image: url('box2.png');
}

button {
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
